<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
        <span>Back</span>
      </a>
    </div>
    <div class="center"></div>
    <div class="right">
      <a href="#" class="link icon-only">
        <i class="f7-icons size-22" id="addToLibraryIcon">check</i>
      </a>
    </div>
  </div>
</div>
<div class="pages">
  <div data-page="detail" class="page">
    <div class="page-content" style="padding-top: 0px;">
      <div id="albumImage"></div>
      <div class="content-block-title" id="album_name">Detail</div>
      <div class="content-block">
        <p id="textInfo1">Here comes paragraph within content block. Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
      </div>
      <div class="content-block">
        <div class="content-block-inner" id="textInfo2">Here comes another text block additionaly wrapped with "content-block-inner". Praesent nec imperdiet diam. Maecenas vel lectus porttitor, consectetur magna nec, viverra sem. Aliquam sed risus dolor. Morbi tincidunt ut libero id sodales. Integer blandit varius nisi quis consectetur. </div>
      </div>
      <div class="list-block">
        <div class="list-block-label">Songs</div>
        <ul id="songList"></ul>
      </div>
    </div>
  </div>
</div>
