<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="back link">
        <i class="icon icon-back"></i>
        <span>Back</span>
      </a>
    </div>
  </div>
</div>
<div class="pages">
  <div data-page="preview" class="page">
    <div class="page-content" style="padding-top: 0px;">
        <div class="content-block-title">Preview</div>
        <div class="list-block cards-list previewList" id="previewList"></div>
    </div>
  </div>
</div>
