.demo-card-header-pic .card-header {
  height: 75vw;
  background-size: cover;
  background-position: top center;
}

.previewHeader .card-header {
  height: 50vw;
  background-size: cover;
  background-position: top center;
}

.testheader {
  height: 75vw;
  background-size: cover;
  background-position: top center;
}

h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
}

.opp h2 {
  background: rgba(255, 255, 255, 0.75);
  color: black;
}
.navbar {
      margin-bottom: 0!important;
}

.navbar-inner {
    margin-bottom: 0!important;
}

.tab-content {
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}

.tabs-animated-wrap > .tabs > .tab  {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.page.content-block-title { margin: -15px 15px 10px; }

.pages { overflow: auto; -webkit-overflow-scrolling: touch; }
